         .Register{
         background-color: blue;
           color: white;
           width: 100px;
           border:none; 
           height: 5vh;
           font-size: large;
        }
        .Register:hover{background-color:rgba(19, 19, 194, 0.653)}

         .Submit{
            background-color: rgb(227, 227, 22);
            color: white;
            width: 60px;
            border: 1px solid black;
        }
        .Submit:hover{background-color: rgba(255, 255, 0, 0.46);}

        .Reg{
            background-color: rgb(30, 163, 30);
            color: white;
            width: 100px;
            height: 5vh;
            border-radius: 30px;
            font-size: large;
        }
      .Reg:hover{background-color: rgba(0, 128, 0, 0.679);}

        .Sub{   
            background-color: rgb(231, 57, 57);
            color: white;
            border-radius: 30px;  
        }
        .Sub:hover{background-color: rgba(255, 0, 0, 0.453);}

        .Regi{
            border:thin solid rgb(208, 10, 10);
            background: transparent;
            width: 100px;
            height: 5vh;
            font-size: large;
        }
        .Regi:hover{background-color: red;}
   

        .Subm{
            border: thin solid rgba(220, 61, 88, 0.778);
            background: transparent;
            height: 3vh;
        }
        .Subm:hover{background-color: red;}

        .Regist{ border:thin solid rgb(235, 235, 42);
            background: transparent;
            width: 100px;
            height: 5vh;
            border-radius: 40px;
            font-size: large;
        }
        .Regist:hover{background-color: rgb(235, 235, 42);}
        
        .Submi{
            border: thin solid turquoise;
            background: transparent;
            border-radius: 30px;
            width: 70px;
            height: 3vh;
        }
     .Submi:hover{background-color: turquoise;}